*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;

    color: #5b5d69;


}

:root{
    --el-color:#1f1f1c;

}

body{
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
color: #5b5d69;
}

h1,h2,h3,h4,a,p{
    color: var(--el-color);
}
a{
    text-decoration: none;
}

h1{
    font-size: 2.5rem;

}
b{
    color: black;
}

h2{
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
}

h3{
    font-weight: 600;
}

p{
    font-weight: 300;

}

.margin-top{
    margin-top: 150px;
}

.margin-bottom{
    margin-bottom: 100px;
}

.container{
    width: 80%;
    margin: auto;
    text-align: center;
 
}

/* ----------------HEADER---------------- */

nav{
    height: 100px;
    width: 100%;
}

nav h2{
    float: left;
    display: inline;
    line-height: 100px;
}

nav ul{
    float:right;
    line-height: 100px;
}

nav ul li{
  display: inline-block;  
  padding: 0 25px;
  transition: 0.5s all;

}

nav ul li a{
    text-transform: uppercase;
    padding: 7px 15px;
    color: #5b5d69;


}
 
nav ul li a:hover{
    color: rgb(72, 93, 151);
    background-color: rgb(72, 93, 151);
    border-radius: 20px;
    padding: 7px 15px;
    color: #fff;
}

#logo a:hover{
    color: hotpink;
}

#logo a{
    color: blue;
}
/* ----------------HOME---------------- */

.showcase{
    height: calc(95vh - 100px);

    border-bottom: 20px ;
}

.showcase .picture{
    float:left;
    transform: translateY(18vh);
    width: 50%;
    padding-left: 15%;
}
.showcase .picture .image-wrapper{
    max-width: 100%;
    height: auto;
    align-items: center;
}

.showcase .picture img{
    align-items: center;
    align-content: center;
    align-self: center;
}


.showcase-content{
    width: 45%;
    margin-right:5%;
    transform: translateY(22vh);
    float: right;
}

.showcase-content h1{
    letter-spacing: 2px;
    font-size: 3.5rem;
}

.showcase-content h2{
    color: #5b5d69;
}

.showcase-content p{
    color: #5b5d69;
    margin-block: 50px;
   
}

.showcase-content .btn{
    color: #5b5d69;
    border: 2px;
    border-style:double;
    padding: 10px 60px;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    transition: 0.5s all;
    justify-content: space-evenly;
 
}

.showcase-content .btn:hover{
    background-color: #333;
    border: 0;
    color: #fff;

}

#homepic{
    width: calc(100vh - 400px);
    height: calc(100vh - 400px);
    box-shadow: 0px 35px 77px -17px rgba(0,0,0,0.44);
    border-radius: 50%;
    
}


/* ----------------ABOUT---------------- */
#section{

    height: calc(95vh - 100px);
}

.headmb{
    margin-bottom: 50px;
}

.about .image-wrapper img{
    margin-left: 20px;
    width: 45%;
    float: left;
    border-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    box-shadow: 0px 35px 77px -17px rgba(0,0,0,0.44);
}
.about .image-wrapper{
    max-width: 100%;
    height: auto;


}

.about .about-content{
    width: 45%;
    float: right;
    margin-top: 60px;
    text-align: justify;
    color: #5b5d69;

}
.about .socials{

    display:inline-block;
    float: right;
    align-items: space-around;
    align-content: center;
}
.icons{
    height: 20px;
    width: auto;
    margin-top: 20px;
    margin-left: 12%;
}
.about{
    color: #5b5d69;
}
/* ----------------WORKS----------------  */
#works{
    padding-top: 50px;
    height: calc(94vh - 150px);    
}
  .wrap
  {
    margin:50px auto 0 auto;
    width:100%;
    display:flex;
    align-items:space-around;
    max-width:1200px;
  }
  .tile
  {
    width:350px;
    height:350px;
    margin:10px;
    background-color:rgb(72, 93, 151);
    display:inline-block;
    background-size:cover;
    position:relative;
    cursor:pointer;
    transition: all 0.4s ease-out;
    box-shadow: 0px 35px 77px -17px rgba(0,0,0,0.44);
    overflow:hidden;
    color:white;

    
  }
  .tile img
  {
    height:100%;
    width:100%;
    position:absolute;
    top:0;
    left:0;
    z-index:0;
    transition: all 0.4s ease-out;


  }
  .tile .text
  {
  /*   z-index:99; */
    position:absolute;
    padding:30px;
    height:calc(100% - 60px);
  }
  .tile h1
  {
   
    font-weight:300;
    color: #fff;
    margin:0;
    text-shadow: 2px 2px 10px rgba(0,0,0,0.3);
  }
  .tile h2
  {
    font-weight:100;
    margin:40px 0 0 0;
    color: #fff;
    font-style:italic;
     transform: translateX(200px);
  }
  .tile p
  {
    font-weight:300;
    color: #fff;
    margin:30px 0 0 0;
    line-height: 25px;
  /*   opacity:0; */
    transform: translateX(-200px);
    transition-delay: 0.2s;
  }
  .animate-text
  {
    opacity:0;
    transition: all 0.6s ease-in-out;
  }
  .tile:hover
  {
  /*   background-color:#99aeff; */
  box-shadow: 0px 35px 77px -17px rgba(0,0,0,0.64);
    transform:scale(1.05);
  }
  .tile:hover img
  {
    opacity: 0.2;
  }
  .tile:hover .animate-text
  {
    transform:translateX(0);
    opacity:1;
  }
 
  @media (max-width: 1000px) {
    .wrap {
     flex-direction: column;
      width:400px;
    }
  }

/* ----------------FOOTER----------------  */

footer p{
    text-align: center;
    font-size: .8rem;
}

#ft{
    padding-top: 29vh;
    text-align: center;
    font-size: .8rem;
}

/* ----------------WEB DEV----------------  */
#error{

    height: 150px;
    width: auto;
    margin-top: 50px;

 
}

.error{
    padding-top: 10vh;
}

.maintenance h2{
    color:#5b5d69;
    padding-top: 20px;
 
}

.maintenance .btn{
    color: #5b5d69;
    border: 2px;
    border-style:double;
    padding: 10px 60px;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    transition: 0.5s all;
    justify-content: space-evenly;
 
}

.maintenance .btn:hover{
    background-color: #333;
    border: 0;
    color: #fff;

}
.maintenance p{

    margin-top: -20px;
    padding-bottom: 20px;
}


/* ----------------GAME DEV----------------  */
.games{
    height: calc(73vh - 150px);    
}

.game-tile
{
    width:380px;
    height:380px;
    margin:10px;
    background-color:rgb(72, 93, 151);
    display:inline-block;
    background-size:cover;
    position:relative;
    cursor:pointer;
    transition: all 0.4s ease-out;
    box-shadow: 0px 35px 77px -17px rgba(0,0,0,0.44);
    overflow:hidden;
    color:white;
  
    
  }

.game-tile img
{
  height:100%;
  width:100%;
  position:absolute;
  top:0;
  left:0;
  z-index:0;
  transition: all 0.4s ease-out;
}


@media (max-width: 1000px) {
    .wrap {
     flex-direction: column;
      width:400px;
    }
}


.tile .text
{
/*   z-index:99; */
  position:absolute;
  padding:30px;
  height:calc(100% - 60px);
}

#game .btn{
    color: #5b5d69;
    border: 2px;
    border-style:double;
    padding: 10px 60px;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    transition: 0.5s all;
    justify-content: space-evenly;
 
}

#game .btn:hover{
    background-color: #333;
    border: 0;
    color: #fff;

}